<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <form action="login" method="POST" class="input-container">
        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" >
        </div>
        <div>
            <label for="email">Password:</label>
            <input name="email" id="email" type="text" >
        </div>
            <a><button type="submit" class="btn">Login</button></a>
    </form>
<%- include('../includes/end.ejs') %>