<header>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <nav id="mobile-nav">
        <div id="mobile-container">
            <h3><a id="mobile-link" href="/">Home</a></h3>
            <h3><a href="/products">All Products</a></h3>
            <h3><a href="/about-us">About Us</a></h3>
            <h3><a href="/add-products">Admin</a></h3>
            <div>
                <a><box-icon class="cart" name='cart' color='#e1ca96' ></box-icon></a>
                <h3 class="mobile-link"><a href="/login">Login</a></h3>
            </div>
        </div>
    </nav>
</header>