<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <section class="home-landing">
            <div>
                <h1 class="home-title">Dev<span class="swag">Swag</span>()</h1>
                <p class="home-desc">built by <span>developers</span> for <span>developers</span><a href="/secret-room">.</a></p>
            </div>
            <div>
                <img class="home-image" src="/images/devPup.png" alt="dev pup" />
            </div>
        </section>
    </main>
<%- include('../includes/end.ejs') %>